:root {
    --text--primary             : #D175B6;
    --text-light                : #FFFFFF;
    --text-dark                 : #2A2A2A;
    --text-green                : #00EDC5;

    --border--primary           : #D175B6;
    --border-light              : #FFFFFF;
    --border-dark               : #2A2A2A;

    --bg--primary               : #D175B6;
    --bg-light                  : #FFFFFF;
    --bg-dark                   : #2A2A2A;

    --transition-sm             : all .3s ease-in-out;
    --transition-md             : all .5s ease-in-out;
    --transition-lg             : all .7s ease-in-out;
}