:root {
    --text--primary             : #D175B6;
    --text-light                : #FFFFFF;
    --text-dark                 : #2A2A2A;
    --text-green                : #00EDC5;

    --border--primary           : #D175B6;
    --border-light              : #FFFFFF;
    --border-dark               : #2A2A2A;

    --bg--primary               : #D175B6;
    --bg-light                  : #FFFFFF;
    --bg-dark                   : #000000;
    
    --scrollbar-thumb-color       : #D175B6;
    --scrollbar-thumb-border      : #ffffff;
    --scrollbar-thumb-hover-color : #d175b5a1;

    --transition-sm               : all .3s ease-in-out;
    --transition-md               : all .5s ease-in-out;
    --transition-lg               : all .7s ease-in-out;
}